.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 5px;
  margin: 40px;
}

.resutrantImage {
  height: 300px;
  width: 300px;
}
.menuImage {
  height: 150px;
  width: 150px;
}
.Menu-container {
  display: flex;
  justify-items: center;
  flex-direction: column;
  align-items: center;
  border: 1px solid white;

  padding: 10px;
}

.Menu-section {
  background-color: grey;
  display: flex;
  gap: 5px;
}

.Menu-container:hover {
  background-color: lightblue;
  transform: scale(1.1);
}

.buttonContainer {
  display: flex;
  text-align: center;
  justify-items: center;
  gap: 10px;
}

.button {
  margin-top: 20px;
  width: 80px;
  height: 20px;
}
